/* HomePage styles */

.hero-section .overlay {
  position: absolute;
  inset: 0;
}

.hero-section .content {
  position: relative;
  z-index: 1;
}
.card {
  border-radius: 10px;
  top: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.hero-section {
  position: relative;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

