/* Navbar.css */

.navbar {
  padding: 0.8rem 2rem ;
  background-color: purple;
}


.navbar-brand:hover {
  color: #000000 !important;
}

.nav-link {
  font-weight: 500;
  margin-left: 1rem;
  color: #ffffff !important;
  transition: color 0.3s, transform 0.2s;
}

.nav-link:hover {
  color: #000000 !important;
  transform: scale(1.1);
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-link.active::after {
  content: "";
  display: block;
  /* height: 3px;
  width: 100%; */
  background: #ffffff;
  border-radius: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
}
